.plan-box
  .box-header
    Trial
  .box-content
    .price-details
      FREE
      %hr
    .plan-details
      Responses
      %br
      %span.response-count 50
      %br
      %span.detail-text Try Signal Plus for Free for 14 days
    .btn-centered
      %btn.btn.select-btn
        SELECT
