.row
  .dash
    .col-md-12.dash-header
      =image_tag('#', :alt => 'pic', :class => 'brand-img')
      %h3
        = @brand.name

      .brand-pricing-plan
        %p= "brand princing info here"

      %br
      %p
        @
        = @brand.name

    .col-md-12.dash
      = react_component 'Navigation'
  -# .col-md-12
  -#   = react_component 'TabContent', { data: { brand: @brand, signal_types: @signal_types }}

  -#     %ul.nav.nav-pills
  -#       %li.active
  -#         %a{:href => '#signals', :data => {:toggle => 'tab'}}
  -#           %p SIGNALS
  -#       %li
  -#         %a{:href => '#templates', :data => {:toggle => 'tab'}}
  -#           %p CREATE NEW
  -#       %li
  -#         %a{:href => '#create', :data => {:toggle => 'tab'}}
  -#           %p NEW

  -# .col-md-12
  -#   .tab-content.clearfix
  -#     .tab-pane.active#signals
  -#       .row.dash-panel
  -#         = render 'listen_signals/index', :locals => { :brand => @brand }
  -#     .tab-pane#templates
  -#       .row.dash-panel
  -#         = render 'listen_signals/templates'
  -#     .tab-pane#create
  -#       .row.dash-panel
  -#         = render 'listen_signals/create'

