.row.support
  .col-xs-2
  .col-xs-4.left
    .support-header
      %h3 Contact Customer Support
      %p Send us a message and read our answer when it’s convenient for you.
      %a{:href => "#"}
        %btn.btn.btn-primary.support-btn
          Email
      %span We’ll respond within 24hrs
  .col-xs-4.right
    .support-header
      %h3 Getting Started Guide
      %p Read our starter guide on how to setup your own hashtag listener and create response.
      %a{href: guide_path}
        %btn.btn.btn-primary.support-btn
          Starter Guide
  .col-xs-2
.row.support
  .col-xs-2
  .col-xs-8
    %hr/
    .faq
      %h3 Common Questions
      %p Browse our most common questions…
      .faq-content
        %h4.question I don’t have a Twitter account, how do I setup one?
        %p.answer Visit this link to create your own Twitter account. Twitter’s real-time platform allows us to send automatic responses to your audience whenever they tweet or message to your account with a specific #hashtag.
        %hr/
      .faq-content
        %h4.question What happens if my audience doesn’t use my custom #hashtag?
        %p.answer Your custom #hashtag is the active trigger SignalPlus is listening for. When he hear that signal, we search for the specific response you have set up and send that directly to the user.
        %hr/
      .faq-content
        %h4.question Does SignalPlus work with other platforms besides Twitter?
        %p.answer We’re currently using the real-time platform of Twitter, however we’re always adding new features and exploring more platforms. Come back in the future for more updates.
        %hr/
      .faq-content
        %h4.question Does SignalPlus work in multiple languages?
        %p.answer Although our current dashboard is in English, #hashtags and responses can be entered in other languages. Enter your custom #hashtag and responses in the language of your choice and we’ll listen and respond in that language.
        %hr/
      .faq-content
        %h4.question I don’t see a Response Template that matches the type of signal I’m looking for.
        %p.answer We’re adding Response Templates all the time to accommodate our users. Contact us with your suggestions and we’ll review it for future inclusion.
        %hr/
      .faq-content
        %h4.question I need more responses than the Premium Plan offers, what are my options?
        %p.answer For large social accounts, we can offer custom plans that match the response level you require. Contact us and a representative will respond.
        %hr/
      .faq-content
        %h4.question Does SignalPlus work with other platforms besides Twitter?
        %p.answer We’re currently using the real-time platform of Twitter, however we’re always adding new features and exploring more platforms. Come back in the future for more updates.
        %hr/
      .faq-content
        %h4.question How do I delete a Signal?
        %p.answer Go to your specific Signal Response Template, select “Delete Signal” on the left-hand side. We will stop listening for your specific #hashtag.
        %hr/
      .faq-content
        %h4.question How do I delete my account?
        %p.answer
          Login with your account and select “Account” from the top right menu. Select “Close Account” from the left-hand menu. We’ll confirm your response. Our plans are charged on a monthly-basis and we do not offer prorated refunds.
        %hr/
    .col-xs-2
