---
http_interactions:
- request:
    method: delete
    uri: https://api.stripe.com/v1/subscriptions/sub_9oVxEp160DrPWn
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_1edJffGpWL6BsWNjzicAe9R2
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 3246ebc1-c8ee-4974-837f-fed679bfd262
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 3246ebc1-c8ee-4974-837f-fed679bfd262
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_9oVxEp160DrPWn",
          "object": "subscription",
          "application_fee_percent": null,
          "cancel_at_period_end": false,
          "canceled_at": 1482737418,
          "created": 1482737409,
          "current_period_end": 1485415811,
          "current_period_start": 1482737411,
          "customer": "cus_9oVxAioUnvV4Id",
          "discount": null,
          "ended_at": 1482737418,
          "livemode": false,
          "metadata": {},
          "plan": {
            "id": "advanced",
            "object": "plan",
            "amount": 4900,
            "created": 1468799819,
            "currency": "usd",
            "interval": "month",
            "interval_count": 1,
            "livemode": false,
            "metadata": {},
            "name": "Advanced",
            "statement_descriptor": null,
            "trial_period_days": null
          },
          "quantity": 1,
          "start": 1482737418,
          "status": "canceled",
          "tax_percent": null,
          "trial_end": null,
          "trial_start": null
        }
  recorded_at: Mon, 26 Dec 2016 07:30:19 GMT
recorded_with: VCR 3.0.3
