---
http_interactions:
- request:
    method: delete
    uri: https://api.stripe.com/v1/subscriptions/sub_9bHa8ccbkfcwqO
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_1edJffGpWL6BsWNjzicAe9R2
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 3bd29fd7-53e4-430d-bc04-def43593e98f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 3bd29fd7-53e4-430d-bc04-def43593e98f
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_9bHa8ccbkfcwqO",
          "object": "subscription",
          "application_fee_percent": null,
          "cancel_at_period_end": false,
          "canceled_at": 1479685708,
          "created": 1479685613,
          "current_period_end": 1482277706,
          "current_period_start": 1479685706,
          "customer": "cus_9bHakiZ39OyU1S",
          "discount": null,
          "ended_at": 1479685708,
          "livemode": false,
          "metadata": {},
          "plan": {
            "id": "advanced",
            "object": "plan",
            "amount": 4900,
            "created": 1468799819,
            "currency": "usd",
            "interval": "month",
            "interval_count": 1,
            "livemode": false,
            "metadata": {},
            "name": "Advanced",
            "statement_descriptor": null,
            "trial_period_days": null
          },
          "quantity": 1,
          "start": 1479685707,
          "status": "canceled",
          "tax_percent": null,
          "trial_end": null,
          "trial_start": null
        }
  recorded_at: Sun, 20 Nov 2016 23:48:28 GMT
recorded_with: VCR 3.0.3
