---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/invoiceitems
    body:
      encoding: UTF-8
      string: customer=cus_9tF6jGg7gVQ9UE&amount=1552&currency=usd&description=Charge+for+upgrading+from+Basic+Plan+to+Advanced+Plan&subscription=sub_9tFF6L9xWHWrcx
    headers:
      Authorization:
      - Bearer sk_test_1edJffGpWL6BsWNjzicAe9R2
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 7671c0ad-7e6e-4e97-b785-b0d407469702
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 7671c0ad-7e6e-4e97-b785-b0d407469702
      Original-Request:
      - req_9tFFB4uKlLfotZ
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ii_19ZSkkJ5yqT11PpPPSt1Jqn9",
          "object": "invoiceitem",
          "amount": 1552,
          "currency": "usd",
          "customer": "cus_9tF6jGg7gVQ9UE",
          "date": 1483828414,
          "description": "Charge for upgrading from Basic Plan to Advanced Plan",
          "discountable": true,
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "period": {
            "start": 1483828414,
            "end": 1483828414
          },
          "plan": null,
          "proration": false,
          "quantity": null,
          "subscription": "sub_9tFF6L9xWHWrcx"
        }
  recorded_at: Sat, 07 Jan 2017 22:33:34 GMT
recorded_with: VCR 3.0.3
