---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/invoiceitems
    body:
      encoding: UTF-8
      string: customer=cus_9ocs3rYFHe3tdX&amount=2000&currency=usd&description=Charge+for+upgrading+from+Basic+Plan+to+Advanced+Plan&subscription=sub_9ocs7qFawW9xgW
    headers:
      Authorization:
      - Bearer sk_test_1edJffGpWL6BsWNjzicAe9R2
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - b9153932-fea1-4366-9b4a-d78567794cc1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - b9153932-fea1-4366-9b4a-d78567794cc1
      Original-Request:
      - req_9oczkj3jX0UYAf
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ii_19UzjDJ5yqT11PpPxXh0STgh",
          "object": "invoiceitem",
          "amount": 2000,
          "currency": "usd",
          "customer": "cus_9ocs3rYFHe3tdX",
          "date": 1482763531,
          "description": "Charge for upgrading from Basic Plan to Advanced Plan",
          "discountable": true,
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "period": {
            "start": 1482763531,
            "end": 1482763531
          },
          "plan": null,
          "proration": false,
          "quantity": null,
          "subscription": "sub_9ocs7qFawW9xgW"
        }
  recorded_at: Mon, 26 Dec 2016 14:45:31 GMT
recorded_with: VCR 3.0.3
