---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/invoiceitems
    body:
      encoding: UTF-8
      string: customer=cus_9ocs3rYFHe3tdX&amount=5000&currency=usd&description=Charge+for+upgrading+from+Advanced+Plan+to+Premium+Plan&subscription=sub_9ocs7qFawW9xgW
    headers:
      Authorization:
      - Bearer sk_test_1edJffGpWL6BsWNjzicAe9R2
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - fc1e9184-f189-4fa5-a7b1-d20437d6d2ed
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - fc1e9184-f189-4fa5-a7b1-d20437d6d2ed
      Original-Request:
      - req_9odlSuAVjplZkI
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ii_19V0U8J5yqT11PpPoXaIPGpi",
          "object": "invoiceitem",
          "amount": 5000,
          "currency": "usd",
          "customer": "cus_9ocs3rYFHe3tdX",
          "date": 1482766440,
          "description": "Charge for upgrading from Advanced Plan to Premium Plan",
          "discountable": true,
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "period": {
            "start": 1482766440,
            "end": 1482766440
          },
          "plan": null,
          "proration": false,
          "quantity": null,
          "subscription": "sub_9ocs7qFawW9xgW"
        }
  recorded_at: Mon, 26 Dec 2016 15:34:00 GMT
recorded_with: VCR 3.0.3
