---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/invoiceitems
    body:
      encoding: UTF-8
      string: customer=cus_9tF6jGg7gVQ9UE&amount=3881&currency=usd&description=Charge+for+upgrading+from+Advanced+Plan+to+Premium+Plan&subscription=sub_9tFF6L9xWHWrcx
    headers:
      Authorization:
      - Bearer sk_test_1edJffGpWL6BsWNjzicAe9R2
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - fd087530-a2d9-4796-b117-c68d194cccaf
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - fd087530-a2d9-4796-b117-c68d194cccaf
      Original-Request:
      - req_9tFG1BPHBcobm9
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ii_19ZSm5J5yqT11PpPKyj3yJzu",
          "object": "invoiceitem",
          "amount": 3881,
          "currency": "usd",
          "customer": "cus_9tF6jGg7gVQ9UE",
          "date": 1483828497,
          "description": "Charge for upgrading from Advanced Plan to Premium Plan",
          "discountable": true,
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "period": {
            "start": 1483828497,
            "end": 1483828497
          },
          "plan": null,
          "proration": false,
          "quantity": null,
          "subscription": "sub_9tFF6L9xWHWrcx"
        }
  recorded_at: Sat, 07 Jan 2017 22:34:57 GMT
recorded_with: VCR 3.0.3
