---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/subscriptions
    body:
      encoding: UTF-8
      string: customer=cus_9oVxAioUnvV4Id&plan=basic
    headers:
      Authorization:
      - Bearer sk_test_1edJffGpWL6BsWNjzicAe9R2
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 52e142d6-6606-4db7-9a49-80bf6a159d8c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 52e142d6-6606-4db7-9a49-80bf6a159d8c
      Original-Request:
      - req_9oVx2joFCrN78b
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_9oVxRvWIien202",
          "object": "subscription",
          "application_fee_percent": null,
          "cancel_at_period_end": false,
          "canceled_at": null,
          "created": 1482737416,
          "current_period_end": 1485415816,
          "current_period_start": 1482737416,
          "customer": "cus_9oVxAioUnvV4Id",
          "discount": null,
          "ended_at": null,
          "livemode": false,
          "metadata": {},
          "plan": {
            "id": "basic",
            "object": "plan",
            "amount": 2900,
            "created": 1468799116,
            "currency": "usd",
            "interval": "month",
            "interval_count": 1,
            "livemode": false,
            "metadata": {},
            "name": "Basic",
            "statement_descriptor": null,
            "trial_period_days": null
          },
          "quantity": 1,
          "start": 1482737416,
          "status": "active",
          "tax_percent": null,
          "trial_end": null,
          "trial_start": null
        }
  recorded_at: Mon, 26 Dec 2016 07:30:17 GMT
recorded_with: VCR 3.0.3
