---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/subscriptions/sub_9ocs7qFawW9xgW
    body:
      encoding: UTF-8
      string: plan=basic&prorate=true
    headers:
      Authorization:
      - Bearer sk_test_1edJffGpWL6BsWNjzicAe9R2
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 61cb4c92-2632-44c7-99f6-24e4f0639ebb
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 61cb4c92-2632-44c7-99f6-24e4f0639ebb
      Original-Request:
      - req_9oeRJJq1palGNK
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_9ocs7qFawW9xgW",
          "object": "subscription",
          "application_fee_percent": null,
          "cancel_at_period_end": false,
          "canceled_at": null,
          "created": 1482763110,
          "current_period_end": 1485441510,
          "current_period_start": 1482763110,
          "customer": "cus_9ocs3rYFHe3tdX",
          "discount": null,
          "ended_at": null,
          "livemode": false,
          "metadata": {},
          "plan": {
            "id": "basic",
            "object": "plan",
            "amount": 2900,
            "created": 1468799116,
            "currency": "usd",
            "interval": "month",
            "interval_count": 1,
            "livemode": false,
            "metadata": {},
            "name": "Basic",
            "statement_descriptor": null,
            "trial_period_days": null
          },
          "quantity": 1,
          "start": 1482768968,
          "status": "active",
          "tax_percent": null,
          "trial_end": null,
          "trial_start": null
        }
  recorded_at: Mon, 26 Dec 2016 16:16:09 GMT
recorded_with: VCR 3.0.3
