---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/subscriptions/sub_9bEuot1cvCrYHe
    body:
      encoding: UTF-8
      string: trial_end=now
    headers:
      Authorization:
      - Bearer sk_test_1edJffGpWL6BsWNjzicAe9R2
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 9b440f77-2bc9-48cc-aae4-c4af9a45aa48
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 9b440f77-2bc9-48cc-aae4-c4af9a45aa48
      Original-Request:
      - req_9bEvIZnlS53NmF
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_9bEuot1cvCrYHe",
          "object": "subscription",
          "application_fee_percent": null,
          "cancel_at_period_end": false,
          "canceled_at": null,
          "created": 1479675677,
          "current_period_end": 1482267680,
          "current_period_start": 1479675680,
          "customer": "cus_9bEuPWNAuVQOmk",
          "discount": null,
          "ended_at": null,
          "livemode": false,
          "metadata": {},
          "plan": {
            "id": "advanced",
            "object": "plan",
            "amount": 4900,
            "created": 1468799819,
            "currency": "usd",
            "interval": "month",
            "interval_count": 1,
            "livemode": false,
            "metadata": {},
            "name": "Advanced",
            "statement_descriptor": null,
            "trial_period_days": null
          },
          "quantity": 1,
          "start": 1479675681,
          "status": "active",
          "tax_percent": null,
          "trial_end": null,
          "trial_start": null
        }
  recorded_at: Sun, 20 Nov 2016 21:01:21 GMT
recorded_with: VCR 3.0.3
