---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events?limit=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_1edJffGpWL6BsWNjzicAe9R2
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
            {
              "id": "evt_19UzcSJ5yqT11PpPEpJ0RbNQ",
              "object": "event",
              "api_version": "2016-07-06",
              "created": 1482763112,
              "data": {
                "object": {
                  "id": "sub_9ocs7qFawW9xgW",
                  "object": "subscription",
                  "application_fee_percent": null,
                  "cancel_at_period_end": false,
                  "canceled_at": null,
                  "created": 1482763110,
                  "current_period_end": 1485441510,
                  "current_period_start": 1482763110,
                  "customer": "cus_9ocs3rYFHe3tdX",
                  "discount": null,
                  "ended_at": null,
                  "livemode": false,
                  "metadata": {},
                  "plan": {
                    "id": "advanced",
                    "object": "plan",
                    "amount": 4900,
                    "created": 1468799819,
                    "currency": "usd",
                    "interval": "month",
                    "interval_count": 1,
                    "livemode": false,
                    "metadata": {},
                    "name": "Advanced",
                    "statement_descriptor": null,
                    "trial_period_days": null
                  },
                  "quantity": 1,
                  "start": 1482763112,
                  "status": "active",
                  "tax_percent": null,
                  "trial_end": null,
                  "trial_start": null
                },
                "previous_attributes": {
                  "plan": {
                    "id": "basic",
                    "amount": 2900,
                    "created": 1468799116,
                    "name": "Basic"
                  },
                  "start": 1482763110
                }
              },
              "livemode": false,
              "pending_webhooks": 2,
              "request": "req_9ocsFko9OZXA0o",
              "type": "customer.subscription.updated"
            },
            {
              "id": "evt_19UzcQJ5yqT11PpPJQibVx2F",
              "object": "event",
              "api_version": "2016-07-06",
              "created": 1482763110,
              "data": {
                "object": {
                  "id": "sub_9ocs7qFawW9xgW",
                  "object": "subscription",
                  "application_fee_percent": null,
                  "cancel_at_period_end": false,
                  "canceled_at"[...]
