---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/subscriptions/sub_8q6Cc93nR3NR59
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_1edJffGpWL6BsWNjzicAe9R2
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_8q6Cc93nR3NR59",
          "object": "subscription",
          "application_fee_percent": null,
          "cancel_at_period_end": false,
          "canceled_at": null,
          "created": 1468803199,
          "current_period_end": 1471481599,
          "current_period_start": 1468803199,
          "customer": "cus_8q6CEjen9UhRNn",
          "discount": null,
          "ended_at": null,
          "livemode": false,
          "metadata": {},
          "plan": {
            "id": "basic",
            "object": "plan",
            "amount": 2900,
            "created": 1468799116,
            "currency": "usd",
            "interval": "month",
            "interval_count": 1,
            "livemode": false,
            "metadata": {},
            "name": "Basic",
            "statement_descriptor": null,
            "trial_period_days": null
          },
          "quantity": 1,
          "start": 1468803199,
          "status": "active",
          "tax_percent": null,
          "trial_end": null,
          "trial_start": null
        }
  recorded_at: Sun, 24 Jul 2016 19:35:36 GMT
recorded_with: VCR 3.0.3
