---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[cvc]=314&card[exp_month]=7&card[exp_year]=2021&card[number]=4242424242424242
    headers:
      Authorization:
      - Bearer sk_test_1edJffGpWL6BsWNjzicAe9R2
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_18YPr6J5yqT11PpPrTUh2HJB",
          "object": "token",
          "card": {
            "id": "card_18YPr6J5yqT11PpPTEozOk7e",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 7,
            "exp_year": 2021,
            "fingerprint": "tLyKmQeVm9munSjK",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "69.200.233.205",
          "created": 1468802612,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Mon, 18 Jul 2016 00:43:30 GMT
recorded_with: VCR 3.0.3
