---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: email=testing%40signal.com&plan=basic&source=tok_18YPr6J5yqT11PpPrTUh2HJB
    headers:
      Authorization:
      - Bearer sk_test_1edJffGpWL6BsWNjzicAe9R2
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_8q6CEjen9UhRNn",
          "object": "customer",
          "account_balance": 0,
          "created": 1468803199,
          "currency": "usd",
          "default_source": "card_18YPr6J5yqT11PpPTEozOk7e",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "testing@signal.com",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_18YPr6J5yqT11PpPTEozOk7e",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_8q6CEjen9UhRNn",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 7,
                "exp_year": 2021,
                "fingerprint": "tLyKmQeVm9munSjK",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_8q6CEjen9UhRNn/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_8q6Cc93nR3NR59",
                "object": "subscription",
                "application_fee_percent": null,
                "cancel_at_period_end": false,
                "canceled_at": null,
                "created": 1468803199,
                "current_period_end": 1471481599,
                "current_period_start": 1468803199,
                "customer": "cus_8q6CEjen9UhRNn",
                "discount": null,
                "ended_at": null,
                "livemode": false,
                "metadata": {},
                "plan": {
                  "id": "basic",
                  "object": "plan",
                  "amount": 2900,
                  "created": 1468799116,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "name": "Basic",
                  "statement_descriptor": null,
                  "trial_period_days": null
                },
                "quantity": 1,
                "start": 1468803199,
                "status": "active",
                "tax_percent": null,
                "trial_end": null,
                "trial_start": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_8q6CEjen9UhRNn/subscriptions"
          }
        }
  recorded_at: Mon, 18 Jul 2016 00:53:18 GMT
recorded_with: VCR 3.0.3
