---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: source=tok_19I51MJ5yqT11PpPmPjxzJUT&plan=basic&email=test%40signal.me&trial_end=1480895212
    headers:
      Authorization:
      - Bearer sk_test_1edJffGpWL6BsWNjzicAe9R2
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - b504ee4b-535c-4768-b78c-646cbf990523
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - b504ee4b-535c-4768-b78c-646cbf990523
      Original-Request:
      - req_9bHauU5AX8Zgdv
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_9bHakiZ39OyU1S",
          "object": "customer",
          "account_balance": 0,
          "created": 1479685613,
          "currency": "usd",
          "default_source": "card_19I51MJ5yqT11PpPpbQl3Llq",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "test@signal.me",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_19I51MJ5yqT11PpPpbQl3Llq",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_9bHakiZ39OyU1S",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 7,
                "exp_year": 2021,
                "fingerprint": "tLyKmQeVm9munSjK",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_9bHakiZ39OyU1S/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_9bHa8ccbkfcwqO",
                "object": "subscription",
                "application_fee_percent": null,
                "cancel_at_period_end": false,
                "canceled_at": null,
                "created": 1479685613,
                "current_period_end": 1480895212,
                "current_period_start": 1479685613,
                "customer": "cus_9bHakiZ39OyU1S",
                "discount": null,
                "ended_at": null,
                "livemode": false,
                "metadata": {},
                "plan": {
                  "id": "basic",
                  "object": "plan",
                  "amount": 2900,
                  "created": 1468799116,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "name": "Basic",
                  "statement_descriptor": null,
                  "trial_period_days": null
                },
                "quantity": 1,
                "start": 1479685613,
                "status": "trialing",
                "tax_percent": null,
                "trial_end": 1480895212,
                "trial_start": 1479685613
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_9bHakiZ39OyU1S/subscriptions"
          }
        }
  recorded_at: Sun, 20 Nov 2016 23:46:53 GMT
recorded_with: VCR 3.0.3
