---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: source=tok_19UsvsJ5yqT11PpPOhois2X0&plan=basic&email=test%40signal.me&trial_end=1483947007
    headers:
      Authorization:
      - Bearer sk_test_1edJffGpWL6BsWNjzicAe9R2
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 3a8e77c7-84c5-4cc5-b992-34d6e0064165
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 3a8e77c7-84c5-4cc5-b992-34d6e0064165
      Original-Request:
      - req_9oVx3ChMFaNL8k
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_9oVxAioUnvV4Id",
          "object": "customer",
          "account_balance": 0,
          "created": 1482737409,
          "currency": "usd",
          "default_source": "card_19UsvsJ5yqT11PpPCDpYBDTR",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "test@signal.me",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_19UsvsJ5yqT11PpPCDpYBDTR",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_9oVxAioUnvV4Id",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 7,
                "exp_year": 2021,
                "fingerprint": "tLyKmQeVm9munSjK",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_9oVxAioUnvV4Id/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_9oVxEp160DrPWn",
                "object": "subscription",
                "application_fee_percent": null,
                "cancel_at_period_end": false,
                "canceled_at": null,
                "created": 1482737409,
                "current_period_end": 1483947007,
                "current_period_start": 1482737409,
                "customer": "cus_9oVxAioUnvV4Id",
                "discount": null,
                "ended_at": null,
                "livemode": false,
                "metadata": {},
                "plan": {
                  "id": "basic",
                  "object": "plan",
                  "amount": 2900,
                  "created": 1468799116,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "name": "Basic",
                  "statement_descriptor": null,
                  "trial_period_days": null
                },
                "quantity": 1,
                "start": 1482737409,
                "status": "trialing",
                "tax_percent": null,
                "trial_end": 1483947007,
                "trial_start": 1482737409
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_9oVxAioUnvV4Id/subscriptions"
          }
        }
  recorded_at: Mon, 26 Dec 2016 07:30:10 GMT
recorded_with: VCR 3.0.3
