---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=7&card[exp_year]=2021&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_1edJffGpWL6BsWNjzicAe9R2
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 5bb88c52-85c7-4ccd-a438-8755191dc10b
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 5bb88c52-85c7-4ccd-a438-8755191dc10b
      Original-Request:
      - req_9tF55Mgmxz9i8c
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_19ZSbmJ5yqT11PpPg3VoehsK",
          "object": "token",
          "card": {
            "id": "card_19ZSbmJ5yqT11PpPOCWEtxDH",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 7,
            "exp_year": 2021,
            "fingerprint": "tLyKmQeVm9munSjK",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "69.200.233.205",
          "created": 1483827858,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Sat, 07 Jan 2017 22:24:18 GMT
recorded_with: VCR 3.0.3
