---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/subscriptions/sub_9tF6tQyxq2LLOm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_1edJffGpWL6BsWNjzicAe9R2
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_9tF6tQyxq2LLOm",
          "object": "subscription",
          "application_fee_percent": null,
          "cancel_at_period_end": false,
          "canceled_at": null,
          "created": 1483827860,
          "current_period_end": 1485907200,
          "current_period_start": 1483827860,
          "customer": "cus_9tF5wkCjqiErEn",
          "discount": null,
          "ended_at": null,
          "livemode": false,
          "metadata": {},
          "plan": {
            "id": "basic",
            "object": "plan",
            "amount": 2900,
            "created": 1468799116,
            "currency": "usd",
            "interval": "month",
            "interval_count": 1,
            "livemode": false,
            "metadata": {},
            "name": "Basic",
            "statement_descriptor": null,
            "trial_period_days": null
          },
          "quantity": 1,
          "start": 1483827860,
          "status": "active",
          "tax_percent": null,
          "trial_end": null,
          "trial_start": null
        }
  recorded_at: Sat, 07 Jan 2017 22:24:25 GMT
recorded_with: VCR 3.0.3
