---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=test%40signal.me&source=tok_19ZSbmJ5yqT11PpPg3VoehsK
    headers:
      Authorization:
      - Bearer sk_test_1edJffGpWL6BsWNjzicAe9R2
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - bc117d3b-fcd0-4865-940a-1e0c1fef5d8e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - bc117d3b-fcd0-4865-940a-1e0c1fef5d8e
      Original-Request:
      - req_9tF5vPDO9HWqwj
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_9tF5wkCjqiErEn",
          "object": "customer",
          "account_balance": 0,
          "created": 1483827859,
          "currency": null,
          "default_source": "card_19ZSbmJ5yqT11PpPOCWEtxDH",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "test@signal.me",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_19ZSbmJ5yqT11PpPOCWEtxDH",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_9tF5wkCjqiErEn",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 7,
                "exp_year": 2021,
                "fingerprint": "tLyKmQeVm9munSjK",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_9tF5wkCjqiErEn/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_9tF5wkCjqiErEn/subscriptions"
          }
        }
  recorded_at: Sat, 07 Jan 2017 22:24:19 GMT
recorded_with: VCR 3.0.3
