---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices/upcoming?customer=cus_9tF6jGg7gVQ9UE
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_1edJffGpWL6BsWNjzicAe9R2
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "invoice",
          "amount_due": 4900,
          "application_fee": null,
          "attempt_count": 0,
          "attempted": false,
          "charge": null,
          "closed": false,
          "currency": "usd",
          "customer": "cus_9tF6jGg7gVQ9UE",
          "date": 1485907200,
          "description": null,
          "discount": null,
          "ending_balance": null,
          "forgiven": false,
          "lines": {
            "object": "list",
            "data": [
              {
                "id": "sub_9tFF6L9xWHWrcx",
                "object": "line_item",
                "amount": 4900,
                "currency": "usd",
                "description": null,
                "discountable": true,
                "livemode": false,
                "metadata": {},
                "period": {
                  "start": 1485907200,
                  "end": 1488326400
                },
                "plan": {
                  "id": "advanced",
                  "object": "plan",
                  "amount": 4900,
                  "created": 1468799819,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "name": "Advanced",
                  "statement_descriptor": null,
                  "trial_period_days": null
                },
                "proration": false,
                "quantity": 1,
                "subscription": null,
                "type": "subscription"
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/invoices/upcoming/lines?customer=cus_9tF6jGg7gVQ9UE"
          },
          "livemode": false,
          "metadata": {},
          "next_payment_attempt": 1485910800,
          "paid": false,
          "period_end": 1485907200,
          "period_start": 1483828409,
          "receipt_number": null,
          "starting_balance": 0,
          "statement_descriptor": null,
          "subscription": "sub_9tFF6L9xWHWrcx",
          "subtotal": 4900,
          "tax": null,
          "tax_percent": null,
          "total": 4900,
          "webhooks_delivered_at": null
        }
  recorded_at: Sat, 07 Jan 2017 22:33:33 GMT
recorded_with: VCR 3.0.3
