---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices/upcoming?customer=cus_9tF6jGg7gVQ9UE
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_1edJffGpWL6BsWNjzicAe9R2
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "invoice",
          "amount_due": 9901,
          "application_fee": null,
          "attempt_count": 0,
          "attempted": false,
          "charge": null,
          "closed": false,
          "currency": "usd",
          "customer": "cus_9tF6jGg7gVQ9UE",
          "date": 1485907200,
          "description": null,
          "discount": null,
          "ending_balance": null,
          "forgiven": false,
          "lines": {
            "object": "list",
            "data": [
              {
                "id": "ii_19ZSm7J5yqT11PpPNKjmJyGt",
                "object": "line_item",
                "amount": -7683,
                "currency": "usd",
                "description": "Unused time on Premium after 07 Jan 2017",
                "discountable": false,
                "livemode": false,
                "metadata": {},
                "period": {
                  "start": 1483828499,
                  "end": 1485907200
                },
                "plan": {
                  "id": "premium",
                  "object": "plan",
                  "amount": 9900,
                  "created": 1468799820,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "name": "Premium",
                  "statement_descriptor": null,
                  "trial_period_days": null
                },
                "proration": true,
                "quantity": 1,
                "subscription": "sub_9tFF6L9xWHWrcx",
                "type": "invoiceitem"
              },
              {
                "id": "ii_19ZSm7J5yqT11PpPz049W3nY",
                "object": "line_item",
                "amount": 2251,
                "currency": "usd",
                "description": "Remaining time on Basic after 07 Jan 2017",
                "discountable": false,
                "livemode": false,
                "metadata": {},
                "period": {
                  "start": 1483828499,
                  "end": 1485907200
        [...]
