---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_9ocs3rYFHe3tdX
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_1edJffGpWL6BsWNjzicAe9R2
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_9ocs3rYFHe3tdX",
          "object": "customer",
          "account_balance": 0,
          "created": 1482763110,
          "currency": "usd",
          "default_source": "card_19UzcPJ5yqT11PpPqjTAWuY7",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "test@signal.me",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_19UzcPJ5yqT11PpPqjTAWuY7",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_9ocs3rYFHe3tdX",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 7,
                "exp_year": 2021,
                "fingerprint": "tLyKmQeVm9munSjK",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_9ocs3rYFHe3tdX/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_9ocs7qFawW9xgW",
                "object": "subscription",
                "application_fee_percent": null,
                "cancel_at_period_end": false,
                "canceled_at": null,
                "created": 1482763110,
                "current_period_end": 1485441510,
                "current_period_start": 1482763110,
                "customer": "cus_9ocs3rYFHe3tdX",
                "discount": null,
                "ended_at": null,
                "livemode": false,
                "metadata": {},
                "plan": {
                  "id": "advanced",
                  "object": "plan",
                  "amount": 4900,
                  "created": 1468799819,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "name": "Advanced",
                  "statement_descriptor": null,
                  "trial_period_days": null
                },
                "quantity": 1,
                "start": 1482763112,
                "status": "active",
                "tax_percent": null,
                "trial_end": null,
                "trial_start": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_9ocs3rYFHe3tdX/subscriptions"
          }
        }
  recorded_at: Mon, 26 Dec 2016 14:38:35 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/invoiceitems?customer=cus_9ocs3rYFHe3tdX
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_1edJffGpWL6BsWNjzicAe9R2
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [],
          "has_more": false,
          "url": "/v1/invoiceitems"
        }
  recorded_at: Mon, 26 Dec 2016 14:38:35 GMT
recorded_with: VCR 3.0.3
