---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/invoiceitems?customer=cus_9ocs3rYFHe3tdX
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_1edJffGpWL6BsWNjzicAe9R2
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
            {
              "id": "ii_19V18uJ5yqT11PpPDg36wiiY",
              "object": "invoiceitem",
              "amount": -9878,
              "currency": "usd",
              "customer": "cus_9ocs3rYFHe3tdX",
              "date": 1482768968,
              "description": "Unused time on Premium after 26 Dec 2016",
              "discountable": false,
              "invoice": null,
              "livemode": false,
              "metadata": {},
              "period": {
                "start": 1482768968,
                "end": 1485441510
              },
              "plan": {
                "id": "premium",
                "object": "plan",
                "amount": 9900,
                "created": 1468799820,
                "currency": "usd",
                "interval": "month",
                "interval_count": 1,
                "livemode": false,
                "metadata": {},
                "name": "Premium",
                "statement_descriptor": null,
                "trial_period_days": null
              },
              "proration": true,
              "quantity": 1,
              "subscription": "sub_9ocs7qFawW9xgW"
            },
            {
              "id": "ii_19V18uJ5yqT11PpPHnSFXyJT",
              "object": "invoiceitem",
              "amount": 2894,
              "currency": "usd",
              "customer": "cus_9ocs3rYFHe3tdX",
              "date": 1482768968,
              "description": "Remaining time on Basic after 26 Dec 2016",
              "discountable": false,
              "invoice": null,
              "livemode": false,
              "metadata": {},
         [...]
