---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/subscriptions/sub_9bDUVgFmseqnEa
    body:
      encoding: UTF-8
      string: plan=advanced
    headers:
      Authorization:
      - Bearer sk_test_1edJffGpWL6BsWNjzicAe9R2
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - b56e7d22-47d8-4080-b431-8682e152f2ff
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - b56e7d22-47d8-4080-b431-8682e152f2ff
      Original-Request:
      - req_9bDUGHvGIXflo5
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_9bDUVgFmseqnEa",
          "object": "subscription",
          "application_fee_percent": null,
          "cancel_at_period_end": false,
          "canceled_at": null,
          "created": 1479670371,
          "current_period_end": 1482262375,
          "current_period_start": 1479670375,
          "customer": "cus_9bDUwKvYRunQhf",
          "discount": null,
          "ended_at": null,
          "livemode": false,
          "metadata": {},
          "plan": {
            "id": "advanced",
            "object": "plan",
            "amount": 4900,
            "created": 1468799819,
            "currency": "usd",
            "interval": "month",
            "interval_count": 1,
            "livemode": false,
            "metadata": {},
            "name": "Advanced",
            "statement_descriptor": null,
            "trial_period_days": null
          },
          "quantity": 1,
          "start": 1479670375,
          "status": "active",
          "tax_percent": null,
          "trial_end": null,
          "trial_start": null
        }
  recorded_at: Sun, 20 Nov 2016 19:32:55 GMT
recorded_with: VCR 3.0.3
