---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/subscriptions/sub_9tFF6L9xWHWrcx
    body:
      encoding: UTF-8
      string: plan=premium&prorate=false&billing_cycle_anchor=unchanged
    headers:
      Authorization:
      - Bearer sk_test_1edJffGpWL6BsWNjzicAe9R2
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - bade54fd-1efc-48f8-ae39-c27e81fa8fed
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - bade54fd-1efc-48f8-ae39-c27e81fa8fed
      Original-Request:
      - req_9tFGVprxiGb6NM
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_9tFF6L9xWHWrcx",
          "object": "subscription",
          "application_fee_percent": null,
          "cancel_at_period_end": false,
          "canceled_at": null,
          "created": 1483828409,
          "current_period_end": 1485907200,
          "current_period_start": 1483828409,
          "customer": "cus_9tF6jGg7gVQ9UE",
          "discount": null,
          "ended_at": null,
          "livemode": false,
          "metadata": {},
          "plan": {
            "id": "premium",
            "object": "plan",
            "amount": 9900,
            "created": 1468799820,
            "currency": "usd",
            "interval": "month",
            "interval_count": 1,
            "livemode": false,
            "metadata": {},
            "name": "Premium",
            "statement_descriptor": null,
            "trial_period_days": null
          },
          "quantity": 1,
          "start": 1483828499,
          "status": "active",
          "tax_percent": null,
          "trial_end": null,
          "trial_start": null
        }
  recorded_at: Sat, 07 Jan 2017 22:35:00 GMT
recorded_with: VCR 3.0.3
