.nav-pills > li > a{
  color: $text-white;
  background-color: $dark-gray;
  width: 150px;
  height: 49px;
  text-align: center;
  border-radius:0;

  p {
    width: 108px;
    height: 20px;
    font-family: $default-font-bold;
    font-size: 15px;
  }
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    color: $text-light;
    background-color: $light-gray;
    width: 150px;
    height: 49px;
}
