@mixin btn-blue {
  font-weight: 300;
  border-radius: 10px;
  color: $text-white;
  background-color: $main-purple !important;
  background-color: var(--windows-blue);
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.15);
  border: solid 1px $main-purple;
  border: solid 1px var(--windows-blue);

  &:hover,
  &:focus {
    color: $text-white;
    background-color: $main-pink !important;
  }
}

@mixin btn-outline {
  font-weight: 300;
  border-radius: 10px;
  color: $main-purple;
  background-color: $text-white !important;
  background-color: var(--windows-blue);
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.15);
  border: solid 2px $main-purple;
  border: solid 1px var(--windows-blue);

  &:active,
  &:hover,
  &:focus {
    color: $text-white !important;
    background-color: $main-purple !important;
  }
}

.btn-centered {
  text-align: center;
}

.nav-tabs {
  padding-left: 109px;
}

.nav-tabs > li > a{
  color: $text-white;
  background-color: $dark-gray;
  width: 150px;
  height: 49px;
  text-align: center;
  border-radius:0;

  p {
    width: 108px;
    height: 20px;
    font-family: $default-font-bold;
    font-size: 15px;
  }
}

.nav-tabs > li.active > a {
  &,
  &:active,
  &:focus {
    color: $text-black;
    background-color: $light-gray;
    width: 150px;
    height: 49px;
  }
}

.btn-login {
  @include btn-blue;

  display: block;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 22px;
  text-decoration: none;
  font-size: 18px;
}

.edit-btns {
  float:right;

  .dropdown-menu {
    float: right;
    left: -150px;
    text-align: center !important;
    min-width: 200px;
  }
}

.save-btn {
  @include btn-blue;
  float: right;
}

.support-btn {
  @include btn-blue;
}

.add-btn {
  @include btn-outline;
  margin-right: 5px;
}

.select-btn {
  @include btn-blue;
}

.post-to-timeline-btn {
  margin-right: 30px;
  margin-top: 15px;
}
