// Dash Panel Buttons
.nav-pills > li > a{
  color: $text-white;
  background-color: $dark-gray;
  width: 150px;
  height: 49px;
  text-align: center;
  border-radius:0;

  p {
    width: 108px;
    height: 20px;
    font-family: $default-font-bold;
    font-size: 15px;
  }
}

.nav-pills > li.active > a {
  &,
  &:active,
  &:focus {
    color: $text-light;
    background-color: $light-gray;
    width: 150px;
    height: 49px;
  }
}

// Login Button
.btn-login {
  display: block;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 22px;
  text-decoration: none;
  font-size: 18px;
  color: $text-white;
  background-color: $button-blue;
  border-radius: 10px;
  border: solid 1px $button-border;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.15);
}
