@mixin btn {
  font-size: $base-font-size;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.15);
}

@mixin btn-blue {
  color: $text-white;
  background-color: $button-blue;
  border: solid 1px $button-blue;
  border-radius: 10px;

  &:hover,
  &:active,
  &:focus {
    color: $text-white;
    background-color: rgba($button-blue, .7);
    border-color: rgba($button-blue, .7);
  }
}

@mixin btn-green {
  cursor: auto;
  color: $text-white;
  background-color: $active-green;
  border: solid 1px $active-green;

  &:hover,
  &:active,
  &:focus {
    color: $text-white;
    background-color: $active-green;
    border-color: $active-green;
  }
}

@mixin btn-outline {
  font-weight: 300;
  border-radius: 10px;
  color: $button-blue;
  background-color: $text-white;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.15);
  border: solid 2px $button-blue;
}

.btn-centered {
  text-align: center;
}

.nav-tabs {
  padding-left: 109px;
}

.nav-tabs > li > a {
  margin-right: 10px;
  color: $text-white;
  background-color: $dark-gray;
  width: 150px;
  height: 49px;
  text-align: center;
  border-radius: 0;

  p {
    width: 108px;
    height: 20px;
    font-family: $default-font-bold;
    font-size: 15px;
  }
}

.nav-tabs > li > a:hover {
  border-style: none;
}

.nav-tabs > li > a.active {
  &,
  &:active,
  &:focus {
    color: $text-black;
    background-color: $light-gray;
    width: 150px;
    height: 49px;
  }
}

.tab-close-btn {
  background-color: transparent;
  border: none !important;
}

.btn-login {
  @include btn-blue;

  display: block;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 22px;
  text-decoration: none;
  font-size: 18px;
}

.edit-btns {
  float:right;

  .dropdown-menu {
    float: right;
    left: -150px;
    text-align: center !important;
    min-width: 200px;
  }
}

.save-btn {
  @include btn-blue;
  float: right;
}

.support-btn {
  @include btn-blue;
}

.add-btn {
  @include btn-outline;
  margin-right: 5px;
}

.select-btn {
  @include btn;
  @include btn-blue;
}

.selected-btn {
  @include btn;
  @include btn-green;
}

.post-to-timeline-btn {
  float: left;
  margin-top: 40px;
}
