$transition-timing: 330ms;

@keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

.confirm-dialog-modal-overlay {
  position: relative;
  z-index: 1000;
  animation: fadeIn $transition-timing $default-easing-function;
}

.ReactModal {
  &__Overlay {
    transition: opacity $transition-timing $default-easing-function;

    // Disables tap highlight
    -webkit-tap-highlight-color: rgba(0,0,0,0);

    &--before-close {
      opacity: 0;
    }
  }
}

.confirm-dialog-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $main-purple;
  font-weight: bold;

  .row.confirm-modal-content {
    padding-top: 150px;
    color: rgba($text-white, 0.7);

    .modal-logo {
      img {
        height: 50px;
      }
    }

    .modal-text {
      font-size: $h5-font-size;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .modal-subtext {
      font-size: $base-caption-font-size;
      margin-bottom: 20px;
    }
  }
}
