// Signal Panel styles
.signal-header {
  margin-top: 28px;
  font-size: 24px;
}

.signal-panel {
  position: relative;
  float: left;
  margin-top: 28px;
  margin-right: 20px;
  display: inline-block;
  width: 257px;
  height: 280px;
  border-radius: 6px;
  color: $text-white;
  background-color: #fafbfc;
  box-shadow: $box-shadow1;
  padding-top: 20px;
  cursor: pointer;

  &:hover {
    display: inline-block;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none;
  }
  &:hover,
  &:focus,
  &:active {
    // transform: scale(1.1);
  }

  &.inactiveSignal {
    background-color: $dark-gray;

    .circle {
      background-color: $inactive-gray;
    }
  }
}

.panel-icon {
  height: 44px;
  width: 36px;
  margin-left: 14px;
  margin-bottom: 14px;
}

.panel-header {
  padding-left: 17px;
  font-size: 34px;
  color: $text-white;
}

.panel-body {
  padding-left: 17px;
  font-size: 16px;
  color: $text-white;
}

.panel-status {
  position: absolute;
  bottom: 10px;
  color: $text-white;
}

.signal-status {
  width: 115px;
  height: 34px;
  border-radius: 27px;
  background-color: rgba(255, 255, 255, 0.19);
  font-family: $default-font-bold;
  font-size: 14px;
  color: $light-gray;
  margin-left: 10px;
  padding-left: 10px;
  padding-top: 7px;

  .circle {
    margin-top: 2px;
    margin-right: -10px;
    float: left;
  }

  .status{
    padding-left:20px;
  }
}

.signal-type {
  left: 200px;
  bottom: 0px;
  position: absolute;
  text-align: right;
  font-size: 16px;
  height: 42px;
  width: 44px;

  p {
    margin: 0 !important;
    font-size: 10px;
  }

  .type {
    font-size: 12px;
  }
}

.panel-new {
  border: solid 2px $signal-border;
  outline: dotted $signal-border 2px;
  outline-offset: -7px;

  .header-new, .body-new {
    color: $text-black;
  }
}

.create-new {
  .panel-header {
    margin-left: 0px;
    padding-left: 17px;
    height: 60px;
    .header-text {
      height: 42px;
    }
  }
  .panel-body {
    color: $text-black;
  }

  .subheader {
    width: 43px;
    height: 13px;
    font-size: 12px;
  }
}

.offer {
  background-color: $signal-turquoise;
}

.today {
  background-color: $signal-orange;
}

.contest {
  background-color: $signal-pink;
}

.reminder {
  background-color: $signal-green;
}

.welcome {
  background-color: $signal-gray;
  .panel-header, .panel-body{
    color: $text-black;
  }
}

.inactiveTab {
  display: none;
}

.activeTab {
  display: block !important;
}
