@mixin static-panel($text-margin-top) {
  pointer-events: none;
  background-color: $signal-gray;
  box-shadow: none;

  .panel-header {
    color: $text-black;
  }

  .panel-text {
    color: $text-black;
    margin-top: $text-margin-top;
  }
}

@mixin clickable-panel {
  &:hover {
    display: inline-block;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none;
  }
}

// Signal Panel styles
.signal-header {
  margin-top: 28px;
  font-size: $h5-font-size;
}

.panel-new {
  border: solid 2px $signal-border;
  outline: dotted $signal-border 2px;
  outline-offset: -7px;

  .header-new, .body-new {
    color: $text-black;
  }
}

.signal-panel {
  @include clickable-panel;
  position: relative;
  float: left;
  margin-top: 28px;
  margin-right: 20px;
  display: inline-block;
  width: 270px;
  height: 290px;
  border-radius: 6px;
  color: $text-white;
  background-color: #fafbfc;
  box-shadow: $box-shadow1;
  padding-top: 20px;
  cursor: pointer;

  &:hover {
    color: $text-white;
    display: inline-block;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none;
  }


  &.inactiveSignal {
    background-color: $dark-gray;

    .circle {
      background-color: $inactive-gray;
    }
  }
}

.panel-icon {
  height: 50px;
  margin-left: 14px;
  margin-bottom: 14px;
}

.panel-header {
  padding-left: 17px;
  font-size: 34px;
  color: $text-white;
}

.panel-text {
  padding-left: 18px;
  padding-right: 10px;
  line-height: 1.2;
}

.panel-status {
  position: absolute;
  bottom: 10px;
  color: $text-white;
  font-weight: bold;
}

.signal-status {
  width: 115px;
  height: 34px;
  border-radius: 27px;
  background-color: rgba(255, 255, 255, 0.19);
  font-family: $default-font-bold;
  font-size: 14px;
  color: $light-gray;
  margin-left: 10px;
  padding-left: 10px;
  padding-top: 7px;

  .circle {
    margin-top: 2px;
    margin-right: -10px;
    float: left;
  }

  .status{
    padding-left: 18px;
    font-size: $base-caption-font-size;
    font-weight: bold;
  }
}

.signal-type {
  left: 194px;
  bottom: 10px;
  position: absolute;
  text-align: right;
  font-size: $base-caption-font-size;
  font-weight: bold;
  height: 42px;
  width: 44px;
}

.panel-type-label {
  margin: 0 !important;
  font-size: $base-caption-font-size !important;
  font-weight: 400;
}

.offers {
  background-color: $signal-turquoise;
}

.today {
  background-color: $signal-orange;
}

.contest {
  background-color: $signal-pink;
}

.reminder {
  background-color: $signal-green;
}

.custom {
  background-color: $signal-dark-gray;
}

.create-new {
  @include clickable-panel;

  .panel-header {
    margin-left: 0px;
    padding-left: 17px;
    height: 60px;
    .header-text {
      height: 42px;
    }
  }

  .subheader {
    width: 43px;
    height: 13px;
    font-size: 12px;
    position: relative;
    left: 3px;
    top: -3px;
  }

  .panel-text {
    color: $text-black;
    padding-top: 6px;
  }
}

.welcome {
  @include static-panel(0);
}

.welcome-guide-link {
  pointer-events: auto !important;

  &:focus,
  &:hover {
    text-decoration: none;
    font-weight: bold;
  }
}

.coming-soon {
  @include static-panel(-20px);
}

.inactiveTab {
  display: none;
}

.activeTab {
  display: block !important;
}

.panel-platform {
  position: absolute;
  bottom: 10px;
  color: $text-black;
  padding-left: 18px;
  font-size: $base-caption-font-size;

  .logo {
    height: 16px;
  }
}

.platform-label {
  font-size: $caption-font-size;
  margin-bottom: -2px;
  margin-top: 15px;
}

