.circle.active {
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  width: 16px;
  height: 16px;
  background-color: $active-green;
}

.circle.inactive {
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  width: 16px;
  height: 16px;
  background-color: $inactive-gray;
}


.line {
  border: 0;
  border-top: solid 1px $dark-gray;
}

.bubble {
  color: $text-white;
  display: inline-block;
  position: relative;
  width: 200px;
  min-height: 40px;
  padding: 6px;
  text-align: center;
  background: #450b6b;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.bubble:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 9px 0 9px 17px;
  border-color: transparent #450b6b;
  display: block;
  width: 0;
  z-index: 1;
  right: -13px;
  top: 18px;
}

.preview-response-bubble {
  margin-top: 15px;
  margin-bottom: 15px;
  position: relative;
  min-width: 20px;
  height: 70px;
  padding: 10px;
  background: #f3f5f6;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.preview-response-bubble:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 9px 17px 9px 0;
  border-color: transparent #f3f5f6;
  display: block;
  width: 0;
  z-index: 1;
  left: -17px;
  top: 35px;
}
