%footer.footer
  .footer-items
    %span
      = link_to(image_tag("#", :alt => "SignalPlus +"), root_url)
    = link_to 'ABOUT', '#', :class => 'footer-link'
    = link_to 'CONTACT', '#', :class => 'footer-link'
    %span.footer-site-inc SignalPlus Inc / All Rights Reserved
