<footer class='footer'>
  <div class='footer-items'>
    <span>
    <%= link_to(image_tag("#", :alt => "SignalPlus +"), root_url) %>
    </span>
      <%= link_to 'ABOUT', '#', :class => 'footer-link' %>
      <%= link_to 'CONTACT', '#', :class => 'footer-link' %>
    <span id='footer-site-inc'>SignalPlus Inc / All Rights Reserved</span>
  </div>
</footer>