%footer.footer
  .container-fluid
    .footer-items
      %span
        = link_to(image_tag('logo/signalplus-icon.png', :alt => 'SignalPlus +', height:'31', width:'47', class: 'footer-brand'), root_url)
      =# link_to 'ABOUT', about_path, :class => 'footer-link'
      = link_to 'CONTACT', '#', :class => 'footer-link'
      %span.footer-site-inc SignalPlus Inc / All Rights Reserved
