%nav.navbar.navbar-static-top{:role => "navigation"}
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle{"data-target" => "#navbarCollapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to(image_tag('logo/signalplus-pink.png', :alt => 'SignalPlus +', width:'140', height:'20'), root_url, class: 'navbar-brand')
    / Collection of nav links and other content for toggling
    #navbarCollapse.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li= link_to 'SUPPORT', page_path(id: 'support')
        - path = current_user ? dashboard_index_path : new_user_session_path
        - link_text = current_user ? 'DASHBOARD' : 'LOG IN'
        %li= link_to link_text, path, class: 'header-cta'
