%nav.navbar.navbar-static-top{:role => "navigation"}
  / Brand and toggle get grouped for better mobile display
  .navbar-header
    %button.navbar-toggle{"data-target" => "#navbarCollapse", "data-toggle" => "collapse", :type => "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    = link_to(image_tag('logo/signalplus-pink.png', :alt => 'SignalPlus +', width:'140', height:'20'), root_url, class: 'navbar-brand')
  / Collection of nav links and other content for toggling
  #navbarCollapse.collapse.navbar-collapse
    %ul.nav.navbar-nav.navbar-right
      %li= link_to 'SUPPORT', support_path
      %li.dropdown-open
        %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#", :role => "button"}
          MENU
          %span.caret
        %ul.dropdown-menu.nav-dropdown
          - if current_user
            %li= react_component 'AccountLink'
            %li= react_component 'LogOutLink'
