.container-fluid
  .row
    .col-xs-2
    .col-xs-8.guide
      .support-header
        .guide-page-title Getting Started Guide
        %p Read our starter guide on how to setup your own hashtag listener and create response.
        %hr/

        .faq-content
          %h4.question 1. Setup your Account
          %p.answer Login with your Twitter account or setup one today.

        .faq-content
          %h4.question 2. Select your Plan Type
          %p.answer Choose the plan that fits your audience size. You can upgrade any time.

        .faq-content
          %h4.question 3. Finalize your account
          %p.answer Add your email address to be notified of any changes to your account. Select a timezone for your social account. The timezone affects when responses will be used.

        .faq-content
          %h4.question 4. Select a Template
          %p.answer We offer templates to get you started depending on the type of responses you want to send to your audience. For example, use our #Offers template to send offers to your audience whenever they use a specific hashtag.

        .faq-content
          %h4.question 5. Edit your Response Template
          %p.answer Start setting up your response template…
          .guide-text
            .faq-content
              %h4.question a) Add a #Hashtag
              %p.answer This will be a unique #hashtag we will listen for when your audience tweets or messages your @handle. Give it a unique name that’s appropriate to the information being sent (eg. #Deals)
            .faq-content
              %h4.question b) Add Default Responses
              %p.answer We offer automatic default responses for your #hashtag so users have content when they tweet or message. Enter content for when they use your #hashtag the first time or when they try multiple times in a 24hr period.
            .faq-content
              %h4.question c) Add Additional Responses
              %p.answer Add more responses for your #hashtag. Add a response that expire on a specific date. Add additional items to your response like a custom link.
            .faq-content
              %h4.question d) Save and Activate
              %p.answer Save your response template. Your #hashtag is Inactive by default, switch it to Active to have SignalPlus start listening.
        .faq-content
          %h4.question 6. Promote your #Hashtag
          %p.answer We automatically listen for your #hashtag, now promote it to the world to let your audience know it’s available. Select the Promote tab to automatically send a tweet with a promotional image to your Twitter followers. This is just one type of promotion, showcase your activated #hashtag in-store, at an event or regularly to your followers in your feed.

        .faq-content
          %h4.question More things you can do…
          %p.answer Select the Preview tab to see how your responses are working or tweet/message to test it yourself.
      .col-xs-2
