.about
  .about-main
    .about-jumbotron
      .container-fluid
        .row
          .col-xs-8
            .about-header
              .header
                Turn your social account
                %br
                into a tool for your audience
              %p.sub-text
                Create automated responses to any #hashtag
              .about-subheader
                %p.sub-text
                  See the power of SignalPlus automation...
                %p.sub-header
                  =link_to('Tweet', '#', {class: 'btn btn'})
                  %span or
                  =link_to('Message', '#', {class: 'btn btn'})
                  %span @SignalPlusco
                %p.sub-header
                  %button.btn.try-it-free-btn
                    TRY IT FREE TODAY
  .container-fluid
    .row
      %h3.header How it Works
      %p
        SignalPlus turns your social brand account into a powerful tool for your audience.
        %br
        Send responses automatically whenever your audience sends you a message.
        %br
        We use the power of Twitter to send responses instantly!
    .row
      .center.about-steps
        %ul
          %li
            = image_tag('static/step-1.png', class: ' img-responsive first-step', size:'330x330')
          %li
            = image_tag('static/step-2.png', class: 'img-responsive second-step', size:'330x330')
          %li
            = image_tag('static/step-3.png', class: 'img-responsive third-step', size:'330x330')
    .row
      .why-signal-box
        %h3.header Why SignalPlus?
        %h5.subheader
          Save time and money with automatic responses
        %p
          Reduce effort from dedicated social media managers and customer service teams answering questions from your audience
        %h5.subheader
          Add value to your social account
        %p
          Create a one to one connection with your audience that’s more powerful with instant response
        %h5.subheader
          Social that’s personalized and relevant
        %p
          Add value to your followers with content that’s relevant and personalized to the information they are looking for
      .things-you-can-do-box
        %h3.header Things you can do…
        %p
          Send a special offer every time a follower sends a custom hashtag
        %p
          Send a summary of your location or event each day a follower uses a custom hashtag
        %p
          Run a contest for your followers for a specific date range
        %p
          Send a reminder on a specific date to users when they use a custom hashtag

    .row.get-started-row
      %h3.header Get Started Today!
      %p
        %span.try-out
          %strong
            Try SignalPlus for FREE for 14 days or 50 reponses then choose the right plan for you.
          We’re always adding new features and more platforms for the future.
        %span
          %button.btn.sign-up-for-free
            SIGN UP FOR FREE

    .row.our-plans
      %h3.header Our Plans
      %p
        We offer 3 plans suited to your brand’s audience size:

    .our-plans-subscription-boxes
      = react_component 'SubscriptionPlans', @subscription_plans_props
