.container-fluid
  .row
    .col-xs-2
    .col-xs-8
      .legal-title
        Privacy Policy
      .legal-text
        Protecting your private information is our priority. This Statement of Privacy applies to the www.signalplus.co and SignalPlus LLC and governs data collection and usage. For the purposes of this Privacy Policy, unless otherwise noted, all references to SignalPlus LLC include www.signalplus.co and SignalPlus. The SignalPlus website is a Ecommerce (Service) site. By using the SignalPlus website, you consent to the data practices described in this statement.

      .legal-content
        .legal-subtitle
          Collection of your Personal Information
        .legal-text
          SignalPlus may collect personally identifiable information, such as your name. If you purchase SignalPlus's products and services, we collect billing and credit card information. This information is used to complete the purchase transaction. We may gather additional personal or non-personal information in the future.
          %br
          Information about your computer hardware and software may be automatically collected by SignalPlus. This information can include: your IP address, browser type, domain names, access times and referring website addresses. This information is used for the operation of the service, to maintain quality of the service, and to provide general statistics regarding use of the SignalPlus website.
          %br
          SignalPlus encourages you to review the privacy statements of websites you choose to link to from SignalPlus so that you can understand how those websites collect, use and share your information. SignalPlus is not responsible for the privacy statements or other content on websites outside of the SignalPlus website.

      .legal-content
        .legal-subtitle
          Use of your Personal Information
        .legal-text
          SignalPlus collects and uses your personal information to operate its website(s) and deliver the services you have requested.
          SignalPlus may also use your personally identifiable information to inform you of other products or services available from SignalPlus and its affiliates. SignalPlus may also contact you via surveys to conduct research about your opinion of current services or of potential new services that may be offered.
          %br
          SignalPlus does not sell, rent or lease its customer lists to third parties.
          SignalPlus may, from time to time, contact you on behalf of external business partners about a particular offering that may be of interest to you. In those cases, your unique personally identifiable information (e-mail, name, address, telephone number) is not transferred to the third party. SignalPlus may share data with trusted partners to help perform statistical analysis, send you email or postal mail, provide customer support, or arrange for deliveries. All such third parties are prohibited from using your personal information except to provide these services to SignalPlus, and they are required to maintain the confidentiality of your information.
          %br
          SignalPlus may keep track of the websites and pages our users visit within SignalPlus, in order to determine what SignalPlus services are the most popular. This data is used to deliver customized content and advertising within SignalPlus to customers whose behavior indicates that they are interested in a particular subject area.
          %br
          SignalPlus will disclose your personal information, without notice, only if required to do so by law or in the good faith belief that such action is necessary to: (a) conform to the edicts of the law or comply with legal process served on SignalPlus or the site; (b) protect and defend the rights or property of SignalPlus; and, (c) act under exigent circumstances to protect the personal safety of users of SignalPlus, or the public.

      .legal-content
        .legal-subtitle
          Use of Cookies
        .legal-text
          The SignalPlus website may use "cookies" to help you personalize your online experience. A cookie is a text file that is placed on your hard disk by a web page server. Cookies cannot be used to run programs or deliver viruses to your computer. Cookies are uniquely assigned to you, and can only be read by a web server in the domain that issued the cookie to you.
          %br
          One of the primary purposes of cookies is to provide a convenience feature to save you time. The purpose of a cookie is to tell the Web server that you have returned to a specific page. For example, if you personalize SignalPlus pages, or register with SignalPlus site or services, a cookie helps SignalPlus to recall your specific information on subsequent visits. This simplifies the process of recording your personal information, such as billing addresses, shipping addresses, and so on. When you return to the same SignalPlus website, the information you previously provided can be retrieved, so you can easily use the SignalPlus features that you customized.
          %br
          You have the ability to accept or decline cookies. Most Web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer. If you choose to decline cookies, you may not be able to fully experience the interactive features of the SignalPlus services or websites you visit.

      .legal-content
        .legal-subtitle
          Security of your Personal Information
        .legal-text
          SignalPlus secures your personal information from unauthorized access, use or disclosure. When personal information (such as a credit card number) is transmitted to other websites, it is protected through the use of encryption, such as the Secure Sockets Layer (SSL) protocol.

      .legal-content
        .legal-subtitle
          Children Under Thirteen
        .legal-text
          SignalPlus does not knowingly collect personally identifiable information from children under the age of thirteen. If you are under the age of thirteen, you must ask your parent or guardian for permission to use this website.

      .legal-content
        .legal-subtitle
          Disconnecting your SignalPlus Account from Third Party Websites
        .legal-text
          You will be able to connect your SignalPlus account to third party accounts. BY CONNECTING YOUR SIGNALPLUS ACCOUNT TO YOUR THIRD PARTY ACCOUNT, YOU ACKNOWLEDGE AND AGREE THAT YOU ARE CONSENTING TO THE CONTINUOUS RELEASE OF INFORMATION ABOUT YOU TO OTHERS (IN ACCORDANCE WITH YOUR PRIVACY SETTINGS ON THOSE THIRD PARTY SITES). IF YOU DO NOT WANT INFORMATION ABOUT YOU, INCLUDING PERSONALLY IDENTIFYING INFORMATION, TO BE SHARED INTHIS MANNER, DO NOT USE THE THIS FEATURE. You may disconnect your account from a third party account at any time. Visit your social account settings page (eg. Twitter) to disconnect authentication to SignalPlus.

      .legal-content
        .legal-subtitle
          Opt-Out & Unsubscribe
        .legal-text
          We respect your privacy and give you an opportunity to opt-out of receiving announcements of certain information. Users may opt-out of receiving any or all communications from SignalPlus by contacting us here:
          %a{:href => "mailto:contact@signalplus.co"}
            contact@signalplus.co

      .legal-content
        .legal-subtitle
          Changes to this Statement
        .legal-text
          SignalPlus will occasionally update this Statement of Privacy to reflect company and customer feedback. SignalPlus encourages you to periodically review this Statement to be informed of how SignalPlus is protecting your information.

      .legal-content
        .legal-subtitle
          Contact Information
        .legal-text
          SignalPlus welcomes your questions or comments regarding this Statement of Privacy. If you believe that SignalPlus has not adhered to this Statement, please contact SignalPlus at:
          %br
          %br
          SignalPlus LLC
          Email Address: contact@signalplus.co
          %br
          %br
          Effective as of November 01, 2016
      .spacer
    .col-xs-2

