- if @brand.listen_signals.present?
  = render 'listen_signals/active', locals: { brand: @brand }
- else
  %h4.signal-header All Signals
  .panel.signal-panel.panel-1
    .panel-header
      %h3 Welcome
    .panel-body
      Start creating your own signals and responses or use our handy starter guide to learn more

%a{:href => '#templates', :data => {:toggle => 'tab'}}
  .panel.signal-panel.panel-new
    = get_signal_icon 'signalplus-small'
    .panel-header.header-new
      Create New
    .panel-body.body-new
      Click here to create a new signal for your audience
