.container-fluid
  .row.dash-main
    %h3.dash Create New Signal
    %p.dash Select a template to start

    .row.dash.create-new
      .panel.signal-panel.panel-new
        .panel-header.offer
          Offers
          %p.subheader SIGNAL
        .panel-body
          Send a special offer every time a follower sends a custom hashtag
      .panel.signal-panel.panel-new
        .panel-header.today
          Today
        .panel-body
          Send a summary of your location or event each day a follower uses a custom hashtag
      .panel.signal-panel.panel-new
        .panel-header.contest
          Contest
        .panel-body
          Run a contest for your followers for a specific date range
      .panel.signal-panel.panel-new
        .panel-header.reminder
          Reminder
        .panel-body
          Send a reminder on a specific date to users when they use a custom hashtag
