// Main Colors
$main-purple: #450b6b;
$main-pink: #f2288f;

// Button colors
$button-blue: #408bc9;
$button-border: #4484b9;
$button-gray: #f3f5f6;

// Text
$text-light: #465162;

// Box Colors
$signal-turquoise: #0cbab0;
$signal-orange: #d34b08;
$signal-pink: #ee3854;
$signal-green: #7da510;

// Panels
$panel-dark: #85969f;
$panel-light: #ffffff;

// Footer
$gray-inc: #c5c5c5;

// Background
$background-gray: #f3f5f6;
