// Main Colors
$main-purple: #450b6b;
$main-pink: #f2288f;

// Button colors
$button-blue: #408bc9;
$button-border: #4484b9;
$light-gray: #f3f5f6;
$dark-gray: #85969f;

// Font Colors
$text-light: #465162;
$text-white: #ffffff;

// Box Colors
$signal-turquoise: #0cbab0;
$signal-orange: #d34b08;
$signal-pink: #ee3854;
$signal-green: #7da510;
$signal-white: #fafbfc;
$signal-border: #c0c4c7;

// Footer
$footer-text: #c5c5c5;
$footer-gray: #e7ebec;

