// Main Colors
$main-purple: #450b6b;
$main-pink: #f2288f;

// Button colors
$button-blue: #408bc9;
$button-border: #4484b9;
$light-gray: #f3f5f6;
$dark-gray: #85969f;
$active-green: #00ff57;
$inactive-gray: #cecece;
$border-gray: #e5e5e5;
$another-green: #4dd865;
$border-gray-alt: #bababa;

// Font Colors
$text-black: #465162;
$text-white: #ffffff;

// Box Colors
$signal-turquoise: #0cbab0;
$signal-orange: #d34b08;
$signal-pink: #ee3854;
$signal-green: #7da510;
$signal-white: #fafbfc;
$signal-border: #c0c4c7;
$signal-gray: #e5e7e8;
$twitter-blue: #1b8ce5;
$signal-dark-gray: #485363;

// Footer
$footer-text: #c5c5c5;
$footer-gray: #e7ebec;

$box-shadow1: 0 1px 2px 2px rgba(0, 0, 0, 0.2);
