@import 'variables';

.caption {
  font-size: 12px;
}

p, .p {
  font-size: $base-font-size;
}

.h5 { font-size: $h5-font-size; }
.h4 { font-size: $h4-font-size; }
.h3 { font-size: $h3-font-size; }
.h2 { font-size: $h2-font-size; }
.h1 { font-size: $h1-font-size; }
