.container-fluid
  .row.dash-main
    .welcome-header Welcome
    .login-form
      .form-header
        %p#login-header
          Sign in with your brand's Twitter account
      .log-in-btns
        = render 'devise/shared/links'
        = link_to 'CREATE A TWITTER ACCOUNT', 'https://twitter.com/signup', :class => 'btn btn-login twitter-create-link'
      .forgot-login
        %p Forgot your password?
