// Footer
.footer-items {
  margin-top: 15px;
}

.footer-link {
  width: 45px;
  height: 16px;
  font-family: $default-font-bold;
  font-size: 14px;
  color: $text-black;
  margin-left: 6px;
  margin-right: 6px;

  &:hover {
    text-decoration: none;
    color: $main-purple;
  }
}

.footer-site-inc{
  float: right;
  display: inline-block;
  color: $footer-text;
}

.footer {
  height: 60px;
  background-color: $footer-gray;
}

.footer-brand {
  margin-right: 56px;
}
