// Footer
.footer-items {
  text-decoration: none;
  font-family: QuattrocentoSans-Bold, sans-serif;
  font-size: 14px;
}

.footer-link {
  width: 45px;
  height: 16px;
  font-family: QuattrocentoSans-Bold, sans-serif;
  font-size: 14px;
  color: $text-light;
}

.footer-site-inc{
  float: right;
  display: inline-block;
  color: $footer-text;
  margin-right: 150px;
  margin-top: 20px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: $light-gray;
}
