
// Header
.navbar {
  margin-bottom: 0 !important;
}

.navbar.navbar-static-top {
  background-color: $main-purple;
  border-color: none;
}

.navbar-static-top .navbar-nav > li > a {
  font-family: $default-font-bold;
  font-weight: 300;
  color: $light-gray;

  &:hover, &:focus {
    background-color: $main-pink;
  }
}

.navbar-right {
  margin-right: 20px;
}

.nav-dropdown {
  text-align: center;
  background-color: $main-purple;

  a {
    display: inline-block;
    width: 150px;
    height: 35px;
    font-size: 18px;
    color: $signal-white;

    &:active,
    &:focus,
    &:hover {
      color: $main-pink;
      background-color: $main-purple;
    }
  }
}

// Get rid of strange bootstrap last child margin
@media (min-width: 768px) {
  .navbar-nav.navbar-right:last-child {
    margin-right: 0;
  }
}
