
// Header
.navbar.navbar-static-top {
  background-color: $main-purple;
  border-color: none;
}

.navbar-static-top .navbar-nav > li > a {
  font-family: $default-font-bold;
  font-weight: 300;
  color: $light-gray;
  margin-right: 15px;

  &:hover {
    background-color: $main-pink;
  }
}

.navbar-header {
  padding-left: 20px;
}


// Get rid of strange bootstrap last child margin
@media (min-width: 768px) {
  .navbar-nav.navbar-right:last-child {
    margin-right: 0;
  }
}
