
// Header
.navbar {
  margin-bottom: 0 !important;
  position: fixed;
  width: 100%;
}

.navbar.navbar-static-top {
  background-color: $main-purple;
  height: $header-height;
  border-color: none;
}

.navbar-static-top .navbar-nav > li {
    & + li {
      margin-left: 10px;
    }

    > a {
    font-family: $default-font-bold;
    font-weight: bold;
    color: $light-gray;
    cursor: pointer;

    > .caret {
      border-top-width: 7px;
      border-right-width: 6px;
      border-left-width: 6px;
      margin-left: 10px;
    }

    &:hover, &:focus {
      background-color: $main-pink;
    }

    &.header-cta {
      background-color: $main-pink;
      color: $text-white;
      border-radius: 6px;
      padding: 8px 33px;
      margin-top: 8px;
      margin-bottom: 8px;
      font-weight: bold;

      &:hover {
        background-color: lighten($main-pink, 10%);
      }
    }
  }
}

.navbar-right {
  margin-right: 20px;
}

.nav-dropdown {
  text-align: center;
  background-color: $main-purple;

  a {
    display: inline-block;
    width: 150px;
    height: 35px;
    font-size: 18px;
    color: $signal-white;

    &:active,
    &:focus,
    &:hover {
      color: $main-pink;
      background-color: $main-purple;
    }
  }
}

// Get rid of strange bootstrap last child margin
@media (min-width: 768px) {
  .navbar-nav.navbar-right:last-child {
    margin-right: 0;
  }
}
