.about {
  min-height: 1400px;
  font-weight: 300;

  p {
    font-size: 18px;
  }
}

.about-main {
  background: url(asset-path('static/base-background.png')) no-repeat;
  background-size: contain;
  background-color: $main-purple;
}

.about-jumbotron {
  margin-top: -20px;
  margin-bottom: 40px;
  background: url(asset-path('static/splus-home.gif')) 63% no-repeat,
              url(asset-path('static/main-background.png')) 90% no-repeat;
  background-size: contain;
}

.about-header {
  .header {
    font-weight: bold;
    font-size: 42px;
    line-height: 1;
  }

  .sub-header {
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 75px;
  }

  .sub-text {
    font-weight: 300;
    font-size: 21px;
  }

  padding-top: 117px;
  color: $text-white;
  text-decoration: none;
}

.about-subheader {
  color: $text-white;
  padding-top: 50px;
  .tweet-btn {
    background-color: $main-pink;
    font-weight: bold;
    font-size: 32px;
    padding: 2px 2px !important;
    border-radius: 6px;
    color: $text-white;
    text-decoration: none;

    &:hover {
      color: $text-white;
      background-color: rgba(242 ,40, 143, 0.5)
    }
  }
}

.about-steps {
  margin-left: -40px;
  margin-top: 20px;
  margin-bottom: 71px;

  li {
    list-style: none;
    width: 33.3%;
    float: left
  }
  img {
    border: 0 none;
    display: inline-block;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    padding-right: 10px;
  }
}

.first-step {
  margin-right: 20px;
}

.second-step {
  margin-right: 20px;
}

.about-content {
  // padding-left: 120px;
  // padding-right: 120px;
}

.plan-types {
  height: 250px;
  padding-top: 32px;
  margin-bottom: 450px;
}

.why-signal-box {
  font-weight: 300;
  width: 560px;
  display: inline-block;
  margin-top: 100px;
  margin-right: 20px;

  .header {
    margin-bottom: 30px;
  }

  .subheader {
    color: $main-purple;
    font-size: 26px;
    font-weight: 500;
  }
}

.things-you-can-do-box {
  width: 425px;
  display: inline-block;
  margin-left: 65px;
  padding: 20px;
  color: $text-white;
  border-radius: 8px;
  background-color: $main-purple;
  border: solid 2px $main-purple;

  .header {
    margin-bottom: 30px;
  }

  p {
    margin-bottom: 27px;
  }
}

.header {
  font-size: 38px;
  font-weight: 400;
  margin-top: 0;
}

.try-out {
  width: 550px;
  display: inline-block;
  margin-right: 30px;
}

.get-started-row {
  margin-top: 82px;
  margin-bottom: 40px;
}

.about-subscription-plans {
  margin-top: -50px;
}

.our-plans-subscription-boxes {
  margin-top: 30px;

  .plan-box {
    height: 350px;
  }
}
