.about {
  min-height: 1400px;
  font-weight: 300;
}

.about-jumbotron {
  margin-top: -40px;
  min-height: 400px;
  background-image: url('static/home-back.png');
  background-size: contain;
  margin-bottom: 40px;
}

.about-header {
  padding-left: 120px;
  padding-top: 70px;
  color: $text-white;
  text-decoration: none;
  font-weight: 300;
}

.about-subheader {
  color: $text-white;
  padding-top: 50px;
  a {
    background-color: $main-pink;
    font-weight: 400;
    padding: 2px 10px !important;
    color: $text-white;
    text-decoration: none;

    &:hover {
      color: $text-white;
      background-color: rgba(242 ,40, 143, 0.5)
    }
  }
}

.about-steps {
  margin-top: 20px;
  margin-bottom: 50px;

  li {
    list-style: none;
    width: 33.3%;
    float: left
  }
  img {
    border: 0 none;
    display: inline-block;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    padding-right: 10px;
  }
}

.first-step {
  margin-right: 20px;
}

.second-step {
  margin-right: 20px;
}

.about-content {
  padding-left: 120px;
  padding-right: 120px;
}

.plan-types {
  height: 250px;
  padding-top: 20px;
  margin-bottom: 150px;
}

.why-signal-box {
  font-weight: 300;

  .subheader {
    color: $main-purple;
    font-size: 20px;
    font-weight: 300;
  }
}

.things-you-can-do-box {
  padding: 20px;
  color: $text-white;
  border-radius: 8px;
  background-color: $main-purple;
  border: solid 2px $main-purple;
}

.header {
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 20px;
}

.try-out {
  font-weight: 600;
}
