.about {
  min-height: 1400px;
  font-weight: 300;

  p {
    font-size: 18px;
  }
}

.about-jumbotron {
  margin-top: -40px;
  min-height: 591px;
  background-image: url(asset-path('static/home-back.png'));
  background-size: contain;
  margin-bottom: 40px;
}

.about-header {
  .header {
    font-weight: bold;
    font-size: 42px;
  }

  .sub-header {
    font-wight: bold;
    font-size: 32px;
  }

  .sub-text {
    font-weight: 300;
    font-size: 21px;
  }

  padding-top: 175px;
  color: $text-white;
  text-decoration: none;
}

.about-subheader {
  color: $text-white;
  padding-top: 50px;
  a {
    background-color: $main-pink;
    font-weight: bold;
    font-size: 32px;
    padding: 2px 10px !important;
    color: $text-white;
    text-decoration: none;

    &:hover {
      color: $text-white;
      background-color: rgba(242 ,40, 143, 0.5)
    }
  }
}

.about-steps {
  margin-left: -40px;
  margin-top: 20px;
  margin-bottom: 71px;

  li {
    list-style: none;
    width: 33.3%;
    float: left
  }
  img {
    border: 0 none;
    display: inline-block;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    padding-right: 10px;
  }
}

.first-step {
  margin-right: 20px;
}

.second-step {
  margin-right: 20px;
}

.about-content {
  // padding-left: 120px;
  // padding-right: 120px;
}

.plan-types {
  height: 250px;
  padding-top: 32px;
  margin-bottom: 450px;
}

.why-signal-box {
  font-weight: 300;

  .subheader {
    color: $main-purple;
    font-size: 26px;
    font-weight: 500;
  }
}

.things-you-can-do-box {
  padding: 20px;
  color: $text-white;
  border-radius: 8px;
  background-color: $main-purple;
  border: solid 2px $main-purple;
}

.header {
  font-size: 38px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 20px;
}

.try-out {
  font-weight: 600;
}

.get-started-row {
  margin-top: 82px;
}
