@mixin input-form($height) {
  margin-top: 15px;
  min-height: $height;
  padding: 10px;
  border: solid 1px $light-gray;
  background-color: $light-gray;

  .response-text{
    float:left;
  }

  h5 {
    font-weight: 600;
    display: block;
    margin: 0px !important;
    width: 150px;
  }

  p {
    float: left;
    font-size: 12px;
    margin: 0 !important;
    padding-top: 6px;
  }
}


.content-panel {
  padding-top: 15px;
}

.content-box {
  padding-left: 15px;
  padding-top: 15px;
  min-height: 700px;
  background-color: $text-white;
  padding-right: 30px;
}

.content-explanation {
  float: right;
  width: 400px;
  height: 70px;
}

.content-icon {
  height: 50px;
  float: left;
  display: block;
  margin-right: 15px;
}
.signal-type-label {
  margin: 0 !important;
  font-size: 11px;
  font-weight: 200;
}

.signal-type-header {
    display: inline-block;
    width: 200px;
    margin: 0 !important;
    padding-bottom: 5px;
}

.signal-description {
  width: 240px;
  height: 28px;
  display: inline-block;
  font-size: 14px;
  line-height: 14px;
  margin: 0 !important;
}

.response-info {
  h4 {
    display: inline;
  }

  .subheading {
    font-weight: 600;
  }

  img {
    display: inline;
    height:28px;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.tip-box {
  margin-top: 15px;
  border: solid 1px $light-gray;
  h5 {
    display: inline-block;
    margin: 0 !important;
  }

  p {
    font-size: 13px;
    padding-right: 50px;
    margin: 0 !important;
  }

  img {
    float: left;
    height: 40px;
    padding-right: 3px;
  }
}

.response-edit-box {
  @include input-form(100px);

  p {
    width: 150px;
  }
}

.promote-box {
  @include input-form(350px);

  .subheader {
    padding-top: 50px;
  }

  .thumbnails {
    float: left;
    padding-top: 30px;
  }
}

.input-box {
  display: inline-block;
  
  textarea {
    margin-left: 60px;
    width: 400px !important;
    height: 80px;
    border-radius: 11px;
    background-color: $text-white;
    border: solid 1px $signal-border;
    padding: 10px;
  }
}

.required {
  margin-top: 30px;
  margin-right: 10px;
  float: right;
  text-align: center;
  width: 80px;
  height: 20px;
  opacity: 0.7;
  background-color: $text-white;
  display: inline-block;
}

.preview-image{
  padding-top: 30px;
  padding-bottom: 30px;
  img {
    padding-left: 20px;
    height: 40px;
  }
}


.signal-info {
  width: 150px;
  height: 40px;
  border-radius: 8px;
  display: inline-block;
  background-color: $twitter-blue;
  color: $text-white;
  line-height: 40px;
  text-align: center;
}

.preview-label {
  h5 {
    font-size: 14px;
    height: 70px;
    font-weight: 700;
    line-height: 70px;
    margin: 15px !important;
  }

  .preview-wrap-text {
    padding-top: 10px;
    line-height: 20px;
  }
}

img.arrow {
  height: 15px;
  padding-left: 10px;
  padding-bottom: 4px;
  padding-right: 10px;
}

.preview-response-box{
    width: 350px;
    height: 70px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    padding-left: 20px;
    border-radius: 8px;
    background-color: $light-gray;
}

