@mixin input-form($height) {
  margin-top: 15px;
  min-height: $height;
  padding: 10px;
  border: solid 1px $light-gray;
  background-color: $light-gray;

  .response-text{
    float:left;
  }

  h5 {
    font-size: $base-font-size;
    font-weight: 600;
    display: block;
    margin: 0px !important;
    width: 200px;
  }

  p {
    float: left;
    font-size: $base-caption-font-size;
    margin: 0 !important;
    padding-top: 6px;
  }
}

@mixin textarea-input($width) {
  textarea {
    font-size: $base-font-size;
    width: $width !important;
    height: 100px;
    background-color: $text-white;
    border: solid 1px $signal-border;
    border-radius: 11px;
    padding: 10px;
  }
}

.content-box {
  min-height: 789px;
  padding: 20px;
  background-color: $text-white;
}

.content-explanation {
  float: right;
  width: 400px;
  height: 70px;
}

.content-icon {
  height: 50px;
  float: left;
  display: block;
  margin-right: 15px;
}
.signal-type-label {
  margin: 0 !important;
  font-size: 11px;
  font-weight: 200;
}

.signal-type-header {
    display: inline-block;
    width: 200px;
    margin: 0 !important;
    padding-bottom: 5px;
}

.signal-description {
  width: 300px;
  height: 28px;
  display: inline-block;
  font-size: 14px;
  line-height: 14px;
  margin: 0 !important;
}

.response-info {
  h4 {
    display: inline;
  }

  .subheading {
    display: inline-block;
    font-weight: 600;
  }

  img {
    display: inline;
    height:28px;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.tip-box {
  border: solid 1px $light-gray;
  h5 {
    font-weight: 600;
    font-size: $base-font-size;
    display: inline-block;
    margin: 0 !important;
  }

  p {
    font-size: $base-caption-font-size;
    padding-right: 150px;
    padding-left: 43px;
  }

  img {
    float: left;
    height: 40px;
    padding-right: 3px;
  }
}

.response-edit-box {
  @include input-form(130px);

  p {
    width: 180px;
  }
}

.promote-box {
  @include input-form(600px);
}

.promote-input-box {
  @include textarea-input(600px);
  margin-top: 40px;
  margin-bottom: 20px;
}

.input-box {
  display: inline-block;
  border-radius: 11px;
  @include textarea-input(450px);
}

@media only screen and (max-width: 1200px) {
    .required {
      display: none !important;
    }
}

.required {
  margin-top: 40px;
  margin-right: 10px;
  float: right;
  text-align: center;
  opacity: 0.7;
  background-color: #ffffff;
  display: inline-block;
  border-radius: 3px;
  padding: 2px;
}

.preview-image {
  padding-left: 20px;
  height: 40px;
}

.preview-bubble {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.preview-label {
  h5 {
    font-size: 14px;
    height: 70px;
    font-weight: 700;
    line-height: 70px;
    margin: 15px !important;
  }

  .preview-wrap-text {
    padding-top: 10px;
    line-height: 20px;
  }
}

img.arrow {
  height: 15px;
  padding-left: 10px;
  padding-bottom: 4px;
  padding-right: 10px;
}

.signal-name-edit {
  font-weight:400;
  margin-left: 5px;
  border-radius: 11px;
}

.promote-image {
  margin-top: 20px;

  li {
    padding-right: 10px;
    list-style: none;
    width: 33.3%;
    float: left
  }

  a, img {
    float: left;
    width: 300px;
    min-height: 200px !important;
    border: 0 none;
    display: inline-block;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    padding-right: 10px;
  }
}

.dropzone {
  border: solid 2px #c0c4c7 !important;
  outline: dotted #c0c4c7 2px !important;
  outline-offset: -7px !important;
  display: inline-block;
}

.dropzone-text {
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
  color: $button-blue;
  padding-top: 30%;

  &:hover, &:focus {
    color: $main-purple;
  }
}

.input-form-error {
  color: $text-red;
  font-size: $base-caption-font-size;
}
