.dash {
  padding-left: 109px;
}

.dash-header {
  height: 100px;

  img {
    float: left;
    width: 62px;
    height: 62px;
    border-radius: 10px;
    background-color: #f3f5f6;
  }

  h3 {
    margin-left: 17px;
    width: 150px;
    height: 42px;
    font-size: 28px;
    display: inline;
  }

  p {
    margin-left: 17px;
    display: inline-block;
  }
}

.brand-pricing-plan {
  float: right;
  margin-right: 120px;
  width: 200px;
  height: 97px;
  background-color: $light-gray;
}

.dash-panel {
  padding-left: 109px;
  padding-right: 15px;
  padding-bottom: 200px;
  background-color: $light-gray;
}

