.finishSetupSection {
  border-top: 1px solid $dark-gray;
  border-bottom: 1px solid $dark-gray;
  padding: 60px 0 45px;
}

.finishSetupForm {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.finishSetupFormField {
  margin-bottom: 50px;
}

.timezoneLabel {
  margin-bottom: 5px;
}
