.guide {
  p {
    padding-bottom: 20px;
    font-size: 16px;
  }

  padding-bottom: 200px;
}


.guide-text {
  padding-left: 50px;
  font-size: 18px;
}

.guide-page-title {
  font-size: 38px;
  margin-bottom: 9px;
}
