.sidebar {
  padding: 0 !important;
  background-color: $dark-gray;
  box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.24);
}

.sidebar-menus {
  padding: 0 !important;
  text-align: center;
  line-height: 50px;
  min-height: 690px;
}

@media only screen and (max-width: 992px) {
    .sidebar-menus {
      min-height: 0px;
    }
}

.sidebar-menus li {
  height: 50px;
  list-style: none;
  text-decoration: none;
  color: $text-white;

  a {
    border-bottom-style: solid;
    border-bottom-color: $text-white;
    border-bottom-width: 1px;
    display: block;
    font-weight: 300;
    color: $text-white;
    font-size: 18px;
  }

}

ul li a:hover, 
ul li a:focus {
  background-color: $text-white;
  text-decoration: none;
  color: $text-black;
}
