.sidebar {
  min-height: 780px;
  padding: 0 !important;
  background-color: $dark-gray;
  box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.24);
}

.sidebar-menus {
  padding: 0 !important;
  line-height: 50px;
}

.sidebar-btns {
  padding-top: 200px;
  text-align: center;
}

.sidebar-menus li {
  display: block;
  list-style: none;
  text-decoration: none;
  color: $text-white;

  a {
    padding-left: 15px;
    border-bottom-style: solid;
    border-bottom-color: $text-white;
    border-bottom-width: 1px;
    display: block;
    font-weight: 300;
    color: $text-white;
    font-size: 18px;
  }
}

ul li a:hover,
ul li a:focus,
ul li a.active, {
  text-decoration: none;
  color: $text-black;
}

ul li a:hover {
  background-color: #eee;
}

ul li a.active,
ul li a:focus, {
  background-color: $text-white;
}

ul li a.active {
  cursor: auto;
}
