.support {
  font-family: $default-font;

  .support-header {
    p {
      padding-bottom: 25px;
    }
    span {
      padding-left: 15px;
    }
  }

  .faq {
    padding-bottom: 200px;
  }

  .question {
    padding-top: 20px;
    font-weight: 700;
  }

  .answer{
    padding-bottom: 20px;
  }

  hr {
    border-top: 3px solid #eeeeee;
  }

}

