.support {
  font-weight: 300;
  font-family: $default-font;

  .support-header {
    p {
      padding-bottom: 10px;
    }
    span {
      padding-left: 15px;
    }
  }

  .faq {
    padding-bottom: 200px;
  }

  .question {
    padding-top: 20px;
  }


  hr {
    border-top: 3px solid #eeeeee;
  }

}

