@import 'bootstrap-sprockets';
@import 'bootstrap';

@import 'core';

html {
  position: relative;
}

body {
  font-family: $default-font;
  color: $text-black;
  .dash-main {
    min-height: 700px;
  }
}
