@import 'bootstrap-sprockets';
@import 'bootstrap';

@import 'core';

html {
  position: relative;
}

body .container-fluid {
  padding-left: 0px;
  padding-right: 0px;
  font-family: $default-font;
  color: $text-light;
}

