@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'core';

html {
  min-height: 100%;
  position: relative;
}

body {
  font-weight: 400;
  font-size:   $base-font-size;
  font-family: $default-font;
  color:       $text-black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: (25 / 18);
  min-width: 1024px;
  display: flex;
  flex-direction: column;

  .uctext {
    text-transform: capitalize;
  }
}

.app {
  flex: 1;
}

.main {
  min-height: 700px;
  padding-top: 70px;
  padding-bottom: 60px;
  position: relative;
}

.container-fluid {
  max-width: 1130px;
}
