@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'core';

html {
  min-height: 100%;
  position: relative;
}

body {
  font-weight: 400;
  font-size:   $base-font-size;
  font-family: $default-font;
  color:       $text-black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .uctext {
    text-transform: capitalize;
  }
}

.main {
  min-height: 700px;
  padding-top: 20px;
  padding-bottom: 60px;
}

